$color-dark: rgb(0, 0, 0);
$color-light: rgb(255, 255, 255);
$color-bright: rgb(249, 90, 44);
$color-description: rgb(174, 175, 177);
$color-grey: rgb(139, 141, 144);
$color-blue: rgb(244, 245, 247);
$color-table: rgb(217, 219, 221);

$button-height: 50px;
$border: 1px solid $color-bright;
$border-radius: 8px;
$border-padding: 14px;

$font-family-base: 'Arial', sans-serif;

$container-width: 600px;
$container-padding-x: 100px;

$transition-duration: 0.2s;